-- DropForeignKey
ALTER TABLE "announcements" DROP CONSTRAINT "announcements_created_by_fkey";

-- DropForeignKey
ALTER TABLE "announcements" DROP CONSTRAINT "announcements_location_id_fkey";

-- DropForeignKey
ALTER TABLE "audit_log" DROP CONSTRAINT "audit_log_location_id_fkey";

-- DropForeignKey
ALTER TABLE "audit_log" DROP CONSTRAINT "audit_log_user_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_bookings" DROP CONSTRAINT "carpool_bookings_location_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_bookings" DROP CONSTRAINT "carpool_bookings_ride_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_bookings" DROP CONSTRAINT "carpool_bookings_rider_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_credits_ledger" DROP CONSTRAINT "carpool_credits_ledger_location_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_credits_ledger" DROP CONSTRAINT "carpool_credits_ledger_ride_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_credits_ledger" DROP CONSTRAINT "carpool_credits_ledger_user_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_group_members" DROP CONSTRAINT "carpool_group_members_group_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_group_members" DROP CONSTRAINT "carpool_group_members_user_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_groups" DROP CONSTRAINT "carpool_groups_created_by_fkey";

-- DropForeignKey
ALTER TABLE "carpool_groups" DROP CONSTRAINT "carpool_groups_location_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_requests" DROP CONSTRAINT "carpool_requests_group_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_requests" DROP CONSTRAINT "carpool_requests_location_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_requests" DROP CONSTRAINT "carpool_requests_matched_ride_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_requests" DROP CONSTRAINT "carpool_requests_rider_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_requests" DROP CONSTRAINT "carpool_requests_schedule_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_rides" DROP CONSTRAINT "carpool_rides_driver_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_rides" DROP CONSTRAINT "carpool_rides_group_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_rides" DROP CONSTRAINT "carpool_rides_linked_session_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_rides" DROP CONSTRAINT "carpool_rides_location_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_rides" DROP CONSTRAINT "carpool_rides_schedule_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_schedules" DROP CONSTRAINT "carpool_schedules_group_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_schedules" DROP CONSTRAINT "carpool_schedules_location_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_schedules" DROP CONSTRAINT "carpool_schedules_user_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_trip_logs" DROP CONSTRAINT "carpool_trip_logs_location_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_trip_logs" DROP CONSTRAINT "carpool_trip_logs_ride_id_fkey";

-- DropForeignKey
ALTER TABLE "carpool_trip_logs" DROP CONSTRAINT "carpool_trip_logs_user_id_fkey";

-- DropForeignKey
ALTER TABLE "chargers" DROP CONSTRAINT "chargers_location_id_fkey";

-- DropForeignKey
ALTER TABLE "emergency_requests" DROP CONSTRAINT "emergency_requests_location_id_fkey";

-- DropForeignKey
ALTER TABLE "emergency_requests" DROP CONSTRAINT "emergency_requests_user_id_fkey";

-- DropForeignKey
ALTER TABLE "messages" DROP CONSTRAINT "messages_charger_id_fkey";

-- DropForeignKey
ALTER TABLE "messages" DROP CONSTRAINT "messages_location_id_fkey";

-- DropForeignKey
ALTER TABLE "messages" DROP CONSTRAINT "messages_recipient_id_fkey";

-- DropForeignKey
ALTER TABLE "messages" DROP CONSTRAINT "messages_sender_id_fkey";

-- DropForeignKey
ALTER TABLE "messages" DROP CONSTRAINT "messages_session_id_fkey";

-- DropForeignKey
ALTER TABLE "notifications" DROP CONSTRAINT "notifications_location_id_fkey";

-- DropForeignKey
ALTER TABLE "notifications" DROP CONSTRAINT "notifications_user_id_fkey";

-- DropForeignKey
ALTER TABLE "push_subscriptions" DROP CONSTRAINT "push_subscriptions_user_id_fkey";

-- DropForeignKey
ALTER TABLE "queue_entries" DROP CONSTRAINT "queue_entries_charger_id_fkey";

-- DropForeignKey
ALTER TABLE "queue_entries" DROP CONSTRAINT "queue_entries_location_id_fkey";

-- DropForeignKey
ALTER TABLE "queue_entries" DROP CONSTRAINT "queue_entries_user_id_fkey";

-- DropForeignKey
ALTER TABLE "refresh_tokens" DROP CONSTRAINT "refresh_tokens_user_id_fkey";

-- DropForeignKey
ALTER TABLE "reservations" DROP CONSTRAINT "reservations_charger_id_fkey";

-- DropForeignKey
ALTER TABLE "reservations" DROP CONSTRAINT "reservations_location_id_fkey";

-- DropForeignKey
ALTER TABLE "reservations" DROP CONSTRAINT "reservations_user_id_fkey";

-- DropForeignKey
ALTER TABLE "sessions" DROP CONSTRAINT "sessions_charger_id_fkey";

-- DropForeignKey
ALTER TABLE "sessions" DROP CONSTRAINT "sessions_location_id_fkey";

-- DropForeignKey
ALTER TABLE "sessions" DROP CONSTRAINT "sessions_user_id_fkey";

-- DropForeignKey
ALTER TABLE "settings" DROP CONSTRAINT "settings_location_id_fkey";

-- DropForeignKey
ALTER TABLE "users" DROP CONSTRAINT "users_location_id_fkey";

-- AlterTable
ALTER TABLE "announcements" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "audit_log" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "carpool_bookings" DROP COLUMN "pickup_lat",
DROP COLUMN "pickup_lng",
ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "carpool_credits_ledger" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "carpool_groups" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "carpool_requests" DROP COLUMN "origin_lat",
DROP COLUMN "origin_lng",
ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "carpool_rides" DROP COLUMN "origin_lat",
DROP COLUMN "origin_lng",
ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "carpool_schedules" DROP COLUMN "origin_lat",
DROP COLUMN "origin_lng",
ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "carpool_trip_logs" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "chargers" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "updated_at" DROP DEFAULT;

-- AlterTable
ALTER TABLE "emergency_requests" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "locations" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "messages" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "notifications" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "push_subscriptions" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "queue_entries" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "refresh_tokens" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "sessions" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "settings" ALTER COLUMN "updated_at" DROP DEFAULT;

-- AlterTable
ALTER TABLE "users" DROP COLUMN "parking_spot",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "onboarded_at" SET DATA TYPE TIMESTAMP(3);

-- DropTable
DROP TABLE "reservations";

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chargers" ADD CONSTRAINT "chargers_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sessions" ADD CONSTRAINT "sessions_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sessions" ADD CONSTRAINT "sessions_charger_id_fkey" FOREIGN KEY ("charger_id") REFERENCES "chargers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sessions" ADD CONSTRAINT "sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "queue_entries" ADD CONSTRAINT "queue_entries_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "queue_entries" ADD CONSTRAINT "queue_entries_charger_id_fkey" FOREIGN KEY ("charger_id") REFERENCES "chargers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "queue_entries" ADD CONSTRAINT "queue_entries_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "push_subscriptions" ADD CONSTRAINT "push_subscriptions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_recipient_id_fkey" FOREIGN KEY ("recipient_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_charger_id_fkey" FOREIGN KEY ("charger_id") REFERENCES "chargers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "sessions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_requests" ADD CONSTRAINT "emergency_requests_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_requests" ADD CONSTRAINT "emergency_requests_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "announcements" ADD CONSTRAINT "announcements_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "announcements" ADD CONSTRAINT "announcements_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "settings" ADD CONSTRAINT "settings_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_log" ADD CONSTRAINT "audit_log_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_log" ADD CONSTRAINT "audit_log_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_groups" ADD CONSTRAINT "carpool_groups_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_groups" ADD CONSTRAINT "carpool_groups_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_group_members" ADD CONSTRAINT "carpool_group_members_group_id_fkey" FOREIGN KEY ("group_id") REFERENCES "carpool_groups"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_group_members" ADD CONSTRAINT "carpool_group_members_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_schedules" ADD CONSTRAINT "carpool_schedules_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_schedules" ADD CONSTRAINT "carpool_schedules_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_schedules" ADD CONSTRAINT "carpool_schedules_group_id_fkey" FOREIGN KEY ("group_id") REFERENCES "carpool_groups"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_rides" ADD CONSTRAINT "carpool_rides_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_rides" ADD CONSTRAINT "carpool_rides_driver_id_fkey" FOREIGN KEY ("driver_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_rides" ADD CONSTRAINT "carpool_rides_schedule_id_fkey" FOREIGN KEY ("schedule_id") REFERENCES "carpool_schedules"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_rides" ADD CONSTRAINT "carpool_rides_linked_session_id_fkey" FOREIGN KEY ("linked_session_id") REFERENCES "sessions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_rides" ADD CONSTRAINT "carpool_rides_group_id_fkey" FOREIGN KEY ("group_id") REFERENCES "carpool_groups"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_bookings" ADD CONSTRAINT "carpool_bookings_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_bookings" ADD CONSTRAINT "carpool_bookings_ride_id_fkey" FOREIGN KEY ("ride_id") REFERENCES "carpool_rides"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_bookings" ADD CONSTRAINT "carpool_bookings_rider_id_fkey" FOREIGN KEY ("rider_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_requests" ADD CONSTRAINT "carpool_requests_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_requests" ADD CONSTRAINT "carpool_requests_rider_id_fkey" FOREIGN KEY ("rider_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_requests" ADD CONSTRAINT "carpool_requests_matched_ride_id_fkey" FOREIGN KEY ("matched_ride_id") REFERENCES "carpool_rides"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_requests" ADD CONSTRAINT "carpool_requests_schedule_id_fkey" FOREIGN KEY ("schedule_id") REFERENCES "carpool_schedules"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_requests" ADD CONSTRAINT "carpool_requests_group_id_fkey" FOREIGN KEY ("group_id") REFERENCES "carpool_groups"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_trip_logs" ADD CONSTRAINT "carpool_trip_logs_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_trip_logs" ADD CONSTRAINT "carpool_trip_logs_ride_id_fkey" FOREIGN KEY ("ride_id") REFERENCES "carpool_rides"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_trip_logs" ADD CONSTRAINT "carpool_trip_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_credits_ledger" ADD CONSTRAINT "carpool_credits_ledger_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_credits_ledger" ADD CONSTRAINT "carpool_credits_ledger_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carpool_credits_ledger" ADD CONSTRAINT "carpool_credits_ledger_ride_id_fkey" FOREIGN KEY ("ride_id") REFERENCES "carpool_rides"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- RenameIndex
ALTER INDEX "idx_announcements_location_active" RENAME TO "announcements_location_id_active_idx";

-- RenameIndex
ALTER INDEX "idx_audit_log_action" RENAME TO "audit_log_action_idx";

-- RenameIndex
ALTER INDEX "idx_audit_log_location_created" RENAME TO "audit_log_location_id_created_at_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_bookings_ride_id" RENAME TO "carpool_bookings_ride_id_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_bookings_rider_id" RENAME TO "carpool_bookings_rider_id_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_bookings_status" RENAME TO "carpool_bookings_status_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_credits_ledger_user_created" RENAME TO "carpool_credits_ledger_user_id_created_at_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_groups_location_id" RENAME TO "carpool_groups_location_id_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_requests_location_status" RENAME TO "carpool_requests_location_id_status_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_requests_rider_id" RENAME TO "carpool_requests_rider_id_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_rides_depart_at" RENAME TO "carpool_rides_depart_at_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_rides_driver_id" RENAME TO "carpool_rides_driver_id_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_rides_location_id" RENAME TO "carpool_rides_location_id_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_rides_status" RENAME TO "carpool_rides_status_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_schedules_location_active" RENAME TO "carpool_schedules_location_id_active_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_schedules_user_id" RENAME TO "carpool_schedules_user_id_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_trip_logs_location_created" RENAME TO "carpool_trip_logs_location_id_created_at_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_trip_logs_ride_id" RENAME TO "carpool_trip_logs_ride_id_idx";

-- RenameIndex
ALTER INDEX "idx_carpool_trip_logs_user_created" RENAME TO "carpool_trip_logs_user_id_created_at_idx";

-- RenameIndex
ALTER INDEX "idx_chargers_location_id" RENAME TO "chargers_location_id_idx";

-- RenameIndex
ALTER INDEX "idx_emergency_requests_user_created" RENAME TO "emergency_requests_user_id_created_at_idx";

-- RenameIndex
ALTER INDEX "idx_messages_recipient_created" RENAME TO "messages_recipient_id_created_at_idx";

-- RenameIndex
ALTER INDEX "idx_messages_sender_created" RENAME TO "messages_sender_id_created_at_idx";

-- RenameIndex
ALTER INDEX "idx_notifications_user_created" RENAME TO "notifications_user_id_created_at_idx";

-- RenameIndex
ALTER INDEX "idx_notifications_user_id" RENAME TO "notifications_user_id_idx";

-- RenameIndex
ALTER INDEX "idx_push_subscriptions_user_id" RENAME TO "push_subscriptions_user_id_idx";

-- RenameIndex
ALTER INDEX "idx_queue_entries_charger_id" RENAME TO "queue_entries_charger_id_idx";

-- RenameIndex
ALTER INDEX "idx_queue_entries_status" RENAME TO "queue_entries_status_idx";

-- RenameIndex
ALTER INDEX "idx_queue_entries_user_id" RENAME TO "queue_entries_user_id_idx";

-- RenameIndex
ALTER INDEX "idx_refresh_tokens_token_hash" RENAME TO "refresh_tokens_token_hash_idx";

-- RenameIndex
ALTER INDEX "idx_refresh_tokens_user_id" RENAME TO "refresh_tokens_user_id_idx";

-- RenameIndex
ALTER INDEX "idx_sessions_charger_id" RENAME TO "sessions_charger_id_idx";

-- RenameIndex
ALTER INDEX "idx_sessions_started_at" RENAME TO "sessions_started_at_idx";

-- RenameIndex
ALTER INDEX "idx_sessions_status" RENAME TO "sessions_status_idx";

-- RenameIndex
ALTER INDEX "idx_sessions_user_id" RENAME TO "sessions_user_id_idx";

-- RenameIndex
ALTER INDEX "idx_users_email" RENAME TO "users_email_idx";

-- RenameIndex
ALTER INDEX "idx_users_location_id" RENAME TO "users_location_id_idx";

